<div class="mt-4">
    <form action="" method="POST">
        <div class="mb-3 form-group">
            <label for="name-input" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name-input" placeholder="Example input placeholder">
        </div>
        <div class="mb-3 form-group">
            <label for="" class="form-label">Gender</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">-- Select gender --</option>
                <option value="male">Male</option>
                <option value="demale">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>